body {
    background: url(//pages-themes.github.io/leap-day/assets/images/body-background.png);
    font-family: Georgia, sans-serif;
}

a {
    color: blue;
    display: inline-block;
    text-decoration: none;
}

#version {
    background: #ffcc00;
    border: .1rem solid #f0b500;
    border-radius: .3rem 0 0 .3rem;
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.25);
    color: #777;
    padding: 1rem;
    position: absolute;
    right: 0;
    z-index: 100;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a:after {
    border-bottom: .1rem solid black;
    display: block;
    content: '';
    transform: scaleX(0);
    transition: transform 300ms;
}

a:hover,
a#version:hover {
    color: black;
    transform-origin: 50% 50%;
}

a:hover:after {
    transform: scaleX(1);
}

ul {
    list-style: none;
    text-align: center;
}
@media (prefers-color-scheme: dark) {
    body {
        background: rgba(0, 0, 0, 0.7);
    }
}